* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #282828;
}
.clock {
  width: 350px;
  height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /*box-shadow: inset 10px 10px 15px #202020, inset -10px -10px 15px #202020;*/
  background: url(../style/1111.png);
  background-size: cover;
  border-radius: 50%;
  background-clip: padding-box;
}
.clock::before {
  content: "";
  position: absolute;
  z-index: 4;
  width: 20px;
  height: 20px;
  background: #747474;
  border-radius: 50%;
}
/*-------------------second-------------------*/
.clock .sec {
  width: 230px;
  height: 230px;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 3;
  transform: rotateZ(0deg);
}
.sec::before {
  content: "";
  position: relative;
  width: 2px;
  height: 160px;
  background: rgb(0, 0, 0);
  border-radius: 6px 6px 0 0;
}
/*-------------------minutes-------------------*/
.clock .min {
  width: 230px;
  height: 230px;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 2;
  transform: rotateZ(180deg);
}
.min::before {
  content: "";
  position: relative;
  width: 6px;
  height: 120px;
  background: rgb(0, 0, 0);
  border-radius: 6px 6px 0 0;
}
/*-------------------hour-------------------*/
.clock .hour {
  width: 230px;
  height: 230px;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
  transform: rotateZ(270deg);
}
.hour::before {
  content: "";
  position: relative;
  width: 10px;
  height: 120px;
  background: rgb(0, 0, 0);
  border-radius: 6px 6px 0 0;
}
